table,td,tr{
    border: 1px solid black;
    background-color: aqua;
    height:70px;
    width: 10cm;
    text-align: center;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
td{
    background-color: aliceblue;
}
h1{
    color: white;
}
.p{
    background-color: red;
    font-size: 20px;
}
